{% extends 'base.html' %}

{% block content %}

<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Review your billing address</a></li>   
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Start your order section -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <!-- Total section -->
                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>
                                            
                                            {% for key, value in tax_dict.items %}
                                                {% for i, j in value.items %}
                                                    <li style="list-style-type: none;">
                                                        {{ key }} <small class="text-danger">({{ i }}%)</small>
                                                        <span class="price float-right">
                                                            <span class="currency">₹</span>
                                                            <span id="tax-{{key}}">{{ j }}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}

                                            <!-- <li style="list-style-type: none;">
                                                Tax
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="tax">{{ tax }}</span>
                                                </span>
                                            </li> -->

                                            
                                            <li style="list-style-type: none; font-weight: 600;">
                                                Total
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="total">{{ total }}</span>
                                                </span>
                                            </li>

                                            <!-- PayPal checkout button -->

                                            
                                            <div id="paypal-button-container"></div>
                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End your order section -->
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

<script>
    var total = "{{total}}"
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Call your server to set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            })
        },

        // Call your server to finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData){
                // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                // console.log(orderData)
                var transaction = orderData.purchase_units[0].payments.captures[0];
                // console.log(transaction)
                // alert('Transaction :' + transaction.status + ', \nID: ' + transaction.id +'.')
            });
        }

    }).render('#paypal-button-container');
</script>


{% endblock content %}
