{% extends 'base.html' %}

{% block content %}

<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Review your billing address</a></li>   
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <div class="billing-address">
                                            <div><b>{{ order.name }}</b></div>
                                            <div>{{ order.address }}</div>
                                            <div>{{ order.city }} - {{ order.pin_code }}</div>
                                            <div>{{ order.state }}, {{ order.country }}</div>

                                            <div><b>Phone: {{ order.phone }}</b></div>
                                            <div><b>Email: {{ order.email }}</b></div>
                                            <div><b>Payment: {{ order.payment_method }}</b></div>
                                            <br>
                                            <div><a href="{% url 'checkout' %}" class="btn btn-outline-danger mb-3">Edit</a></div>

                                            <br><br>
                                            <div>
                                            <h5 class="text-danger" style="text-align: center;">your order</h5>
                                                <table class="table">
                                                    <tbody>
                                                        {% for item in cart_items %}
                                                        <tr>
                                                            <td>
                                                                <img src="{{ item.food_item.image.url }}" width="40" alt="food image">
                                                            </td>
                                                            <td><b>{{ item.food_item }}</b></td>
                                                            <td>{{ item.quantity }}</td>
                                                            <td>Rs {{ item.food_item.price }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Start your order section -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <!-- Total section -->
                                    <div>
                                        

                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>
                                            
                                            {% for key, value in tax_dict.items %}
                                                {% for i, j in value.items %}
                                                    <li style="list-style-type: none;">
                                                        {{ key }} <small class="text-danger">({{ i }}%)</small>
                                                        <span class="price float-right">
                                                            <span class="currency">₹</span>
                                                            <span id="tax-{{key}}">{{ j }}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}

                                            <!-- <li style="list-style-type: none;">
                                                Tax
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="tax">{{ tax }}</span>
                                                </span>
                                            </li> -->

                                            
                                            <li style="list-style-type: none; font-weight: 600;">
                                                Total
                                                <span class="price float-right">
                                                    <span class="currency">₹</span>
                                                    <span id="total">{{ total }}</span>
                                                </span>
                                            </li>

                                            <!-- PayPal checkout button -->

                                            
                                            <div id="paypal-button-container"></div>
                                        
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End your order section -->
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

<script>
    // get csrf token, however this is in django 4.0 documentation
    function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
                }
            }
        }
        return cookieValue;
    }
    


    var total = "{{total}}"
    var url = "{% url 'payments' %}"
    var order_completed_url = "{% url 'order_complete' %}"
    var order_number = "{{ order.order_number }}"

    // above code
    const csrftoken = getCookie('csrftoken');
    console.log('csrf token: ', csrftoken)
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Call your server to set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: total
                    }
                }]
            })
        },

        // Call your server to finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData){
                // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                console.log(orderData)
                var transaction = orderData.purchase_units[0].payments.captures[0];
                var transaction_id = transaction.id
                var status = transaction.status
                var payment_method = 'PayPal'

                send_transaction(transaction_id, payment_method, status)
                // console.log(transaction)
                // alert('Transaction :' + transaction.status + ', \nID: ' + transaction.id +'.')
            });
        }

    }).render('#paypal-button-container');

    // Send data to order_payments view in the database
    function send_transaction(id, pay_method, status){
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'order_number': order_number,
                'transaction_id': id,
                'status': status,
                'payment_method': pay_method,
                'csrfmiddlewaretoken': csrftoken,
            },
            success: function(response){
                if(response.message == 'success'){
                    console.log('payment successfuly ', response.transaction_id)
                    window.location.href = order_completed_url + '?order_no='+ response.order_number + '&trans_id='+ response.transaction_id
                }
            }
        })
    }
</script>


{% endblock content %}
